
<div class="container mt-4" *ngIf="flag=='LIST'">
 
     <button class="btn btn-success  m-2"type="AddCity" (click)="showAddForm()">ADD City</button>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>City Id</th>
                <th>City Name</th>
                <th>Country Id</th>
                <th class="text-center" colspan="2">Operations</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let city of cities">
                <td>{{city.id}}</td>
                <td>{{city.name}}</td>
                <td>{{city.countryRefId}}</td>
                <td><a [routerLink]="['/city',city.id]">View</a></td>
               
            </tr>
        </tbody>
    </table>
</div>

<div class="container"  *ngIf="flag!='LIST'">

    <h3 *ngIf="flag=='ADD'">Add City</h3>
    <h3 *ngIf="flag=='EDIT'">Update City</h3>

    <form    #editform="ngForm" (ngSubmit)="addOrEditData(editform.form)">
        
        <input type="hidden" name="id" id="id" [(ngModel)]="cityObject.id">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">City Name</label>
          <input type="text" class="form-control" id="name" name="name" #cityName="ngModel" required  [(ngModel)]="cityObject.name" >   
          <div class="form-control-feedback"

          *ngIf="cityName.errors && (cityName.dirty || cityName.touched)">

          <span class="text-danger" *ngIf="cityName.errors['required']">Name field is Required</span>

         </div>
        </div>
       
        <select required name="countryRefId" id="countryRefId" class="form-control"  #countryRefId="ngModel"  [(ngModel)]="cityObject.countryRefId">  
            <option value="">Please select Value</option>  
            <option *ngFor="let country of dropdown" [ngValue]="country.id">  
                {{country.text}}  
            </option>  
         </select>  
         <div class="form-control-feedback" *ngIf="countryRefId.errors && (countryRefId.dirty || countryRefId.touched)">
                    <span class="text-danger" *ngIf="countryRefId.errors['required']">Please Select Country</span>
        </div>


        <button type="submit" class="btn btn-primary">Submit</button>
        <button *ngIf="flag=='EDIT'" type="button" class="btn btn-primary" (click)="deleteData(cityObject.id)">Delete</button>
        <button *ngIf="flag=='ADD'" type="reset" class="btn btn-primary" >Reset</button>
      
    
    </form>
</div>
    