
<div class="container mt-4" *ngIf="id==null">
  <a [routerLink]="['/city',AddId]">
     <button class="btn btn-success  m-2"type="AddCity">ADD City</button></a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>City Id</th>
                <th>City Name</th>
                <th>Country Id</th>
                <th class="text-center" colspan="2">Operations</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let city of cities">
                <td>{{city.id}}</td>
                <td>{{city.name}}</td>
                <td>{{city.countryRefId}}</td>
                <td><a [routerLink]="['/city',city.id]">View</a></td>
                <td><a href="">Delete</a></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container" *ngIf="cityObject">
    <form #editform="ngForm" (ngSubmit)="AddOrEditData(editform.form)">
        
        <input type="hidden" name="id" id="id" [(ngModel)]="cityObject.id">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">City Name</label>
          <input type="email" class="form-control" id="name" name="name"  [(ngModel)]="cityObject.name">      
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Country Id</label>
          <input type="text" class="form-control" name="countryRefId" id="countryRefId" [(ngModel)]="cityObject.countryRefId">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-primary" (click)="deleteData()">Delete</button>
      </form>
</div>
