
 <div class="container-fluid bg-primary ">


    <nav class="navbar navbar-light  navbar-expand-sm">

        <small>

            <img src="https://imgak.mmtcdn.com/pwa_v3/pwa_hotel_assets/header/mmtLogoWhite.png" class="w-100 hover-zoom" />

        </small>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse"
                data-bs-target="#navbarResponsiveSmall">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsiveSmall">
            <ul class="navbar-nav mx-auto">
                <!-- <li class="nav-item dropdown "> -->
                    <!-- <button class="btn nav-link dropdown-toggle" type="button"
                            id="DashBoradMenu" data-bs-toggle="dropdown" aria-expanded="false">
                        <strong class="text-white">Country</strong>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item " href="AddEmployee.aspx">Add Employye</a></li>
                        <li><a class="dropdown-item" href="Employees.aspx">Employee Detail</a></li>
                    </ul> -->
                    <li class="nav-item">
                        <a  [routerLink]="['country']" class="nav-link text-white"><strong>Country</strong> </a>
                    </li>

                <!-- </li> -->
              
                <li class="nav-item">
                    <a [routerLink]="['city']" class="nav-link text-white"><strong>City</strong> </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-white"><strong>AirLine</strong> </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-white"><strong>Airport</strong> </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-white"><strong>Flight</strong> </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-white">FlightScheduling </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-white"><strong>Hotel</strong> </a>
                </li>


            </ul>

        </div>
    </nav>
</div>

<router-outlet></router-outlet>
